---
import LayoutPage from '../layouts/LayoutPage.astro';;

import Section from '../components/Section.astro';
import Container from '../components/Container.astro';
import Dashboard from '../components/Dashboard.jsx';

import projects from '../../projects.json';

import '../styles/global.css';

const posts = import.meta.glob(`../../reports/*.json`);

const reports = await Promise.all(Object.keys(posts).map(async key => {
	const { default: data } = await posts[key]();
	return {
		data,
		date: key.replace('../../reports/', '').replace('.json', '')
	}
}));

const data = projects.reduce((prev, curr) => {
	prev[curr.id] = {
		...curr,
		reports: reports.map(report => {
			return {
				date: report.date,
				data: report.data.find(({ id }) => id === curr.id),
			}
		})
	};
	return prev;
}, {});
---

<LayoutPage>
	<Section>
		<Container>
			<h1 class="text-3xl font-bold">Projects</h1>
		</Container>
	</Section>
	{Object.keys(data).map(projectId => {
		const project = data[projectId];
		return (
			<Section>
				<Container>
					<h2 class="text-2xl font-normal text-slate-500 mb-6">{ project.title }</h2>
					<Dashboard {...project} client:load />
				</Container>
			</Section>
		)
	})}
</LayoutPage>