---
import Dashboard from '../components/Dashboard.jsx';

import projects from '../../projects.json';

import '../styles/global.css';

const posts = import.meta.glob(`../../reports/*.json`);

const reports = await Promise.all(Object.keys(posts).map(async key => {
	const { default: data } = await posts[key]();
	return {
		data,
		date: key.replace('../../reports/', '').replace('.json', '')
	}
}));

const data = projects.reduce((prev, curr) => {
	prev[curr.id] = {
		...curr,
		reports: reports.map(report => {
			return {
				date: report.date,
				data: report.data.find(({ id }) => id === curr.id),
			}
		})
	};
	return prev;
}, {});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		{Object.keys(data).map(projectId => {
			const project = data[projectId];
			return (
				<>
					<h2>{ project.title }</h2>
					<Dashboard {...project} client:load />
				</>
			)
		})}
	</body>
</html>
