---
import LayoutPage from '../layouts/LayoutPage.astro';;

import Section from '../components/Section.astro';
import Container from '../components/Container.astro';
import Dashboard from '../components/Dashboard.jsx';

import { getReportsFromModule, collectProjectReports } from '../lib/reports';

import projects from '../../projects.json';

import '../styles/global.css';

const weekly = import.meta.glob('../../reports/weekly/*.json');
const daily = import.meta.glob('../../reports/daily/*.json');

const [reportsWeekly, reportsDaily] = await Promise.all([weekly, daily].map(getReportsFromModule));

const data = collectProjectReports(projects, [
	{
		id: 'weekly',
		reports: reportsWeekly
	},
	{
		id: 'daily',
		reports: reportsDaily
	},
]);
---

<LayoutPage>
	<Section>
		<Container>
			<h1 class="text-3xl font-bold">Projects</h1>
		</Container>
	</Section>
	{Object.keys(data).map(projectId => {
		const project = data[projectId];
		return (
			<Section>
				<Container>
					<h2 class="text-2xl font-normal text-slate-500 mb-6">{ project.title }</h2>
					<Dashboard {...project} client:load />
				</Container>
			</Section>
		)
	})}
</LayoutPage>