---
import LayoutPage from '../layouts/LayoutPage.astro';;

import Section from '../components/Section.astro';
import Container from '../components/Container.astro';
import DashboardYouTube from '../components/DashboardYouTube.jsx';

import { getReportsFromModule, getTotalByType } from '../lib/reports';
import { sortByKey } from '../lib/util';

import '../styles/global.css';

const weekly = import.meta.glob('../../reports/weekly/*.json');
const daily = import.meta.glob('../../reports/daily/*.json');

const reports = await Promise.all([weekly, daily].map(getReportsFromModule));

const youtube = reports.flat()
									.filter(({ data }) => !!data?.youtube)
									.map(report => {
										return {
											...report,
											data: report.data.youtube
										}
									});

function getTotalViewsByVideo({ data }) {
	const videos = {};

	data.forEach(report => {
		report.data.forEach(video => {
			if ( !videos[video.id] ) {
				videos[video.id] = {
					count: 0,
					video
				};
			}
			videos[video.id].count = videos[video.id].count + video.views.count;
		})
	})

	const videoData = Object.keys(videos).map(id => {
		return {
			id,
			...videos[id]
		}
	});

	const sortedVideoData = sortByKey(videoData, 'count', 'desc');
	
	return sortedVideoData;
}

const data = {
	totalViews: {
		title: 'Total Views',
		keys: ['views'],
		type: 'chart',
		daily: getTotalByType({
			data: youtube,
			key: 'views',
			type: 'daily'
		})
	},
	topVideos: {
		title: 'Top Videos',
		type: 'list',
		all: getTotalViewsByVideo({
			data: youtube
		})
	}
}
---

<LayoutPage>
	<Section>
		<Container>
			<h1 class="text-3xl font-bold">YouTube</h1>
		</Container>
	</Section>
	<Section>
		<Container>
			<h2 class="text-2xl font-normal text-slate-500 mb-6">Dev Hints</h2>
			<DashboardYouTube data={data} client:load />
		</Container>
	</Section>
</LayoutPage>