---
import LayoutPage from '../layouts/LayoutPage.astro';;

import Section from '../components/Section.astro';
import Container from '../components/Container.astro';
import DashboardYouTube from '../components/DashboardYouTube.jsx';

import { getReportsFromModule } from '../lib/reports';
import { getTotalsByType, getViewsByVideo } from '../lib/youtube';

import '../styles/global.css';

const weekly = import.meta.glob('../../reports/weekly/*.json');
const daily = import.meta.glob('../../reports/daily/*.json');

const reports = await Promise.all([weekly, daily].map(getReportsFromModule));

const youtube = reports.flat()
									.filter(({ data }) => !!data?.youtube)
									.map(report => {
										return {
											...report,
											data: report.data.youtube
										}
									});



const dataDevHints = {
	totalViews: {
		title: 'Total Views',
		keys: ['views'],
		type: 'chart',
		reports: {
			all: getTotalsByType({
				data: youtube,
				type: 'all',
				intervalType: 'daily',
			}),
			lastMonth: getTotalsByType({
				data: youtube,
				type: 'lastMonth',
				intervalType: 'daily',
			}),
		}
	},
	topVideos: {
		title: 'Top Videos',
		type: 'list',
		reports: {
			all: {
				data: getViewsByVideo({
					data: youtube,
					type: 'all'
				}),
			},
			lastMonth: {
				data: getViewsByVideo({
					data: youtube,
					type: 'lastMonth'
				}),
			}
		}
		
	}
}
---

<LayoutPage>
	<Section>
		<Container>
			<DashboardYouTube
				title="Dev Hints"
				reports={dataDevHints}
				client:load
			/>
		</Container>
	</Section>
</LayoutPage>